<h1>New picture</h1>

<% form_for(:picture, @picture, :url=>{:action=>'create'}, :html=>{:multipart=>true}) do |form| %>

<%= form.file_field :image_file %>
<%= form.text_field :description %>

<%= link_to 'Back', pictures_path %>
