// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
 	padding-top: 60px;
 	background-image: url('june1.jpg');
 	background-color: lightblue;
 	background-size: 2000px 1300px;
 	width: 56%;
    margin: 33px auto;
    font-family: "Sans Serif"
  }